<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="section  text-center">
                <div class="card-front">
                    <div class="center-wrap">
                        <div class="section text-center ">
                            <div class="header">
                                <h3>My Bank</h3>
                                <h6>{{aim}}</h6>
                            </div>
                            <div [formGroup]="registerForm" class="form-group">
                                <input formControlName="uname" class="form-style" type="text" id="reg_name" placeholder="Account Holder">
                                <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched" style="color: red;">Invalid Username</div>
                            </div>
                            <div [formGroup]="registerForm" class="form-group">
                                <input formControlName="acno" class="form-style" type="text" id="reg_acno" placeholder="Account Number">
                                <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched" style="color: red;">Enter valid acc No.</div>
                            </div>
                            <div [formGroup]="registerForm" class="form-group">
                                <input formControlName="pswd" class="form-style" type="password" id="reg_pswd" placeholder="Password">
                                <div *ngIf="this.registerForm.get('pswd')?.errors && this.registerForm.get('pswd')?.touched" style="color: red;">Password must </div>
                            </div>
                            <input class="btn" type="button" value="Register" (click)="reg()">
                            <div class="or">
                                <a routerLink="">Sign in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>